# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/

# Visual Studio Code
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/build/
android/.gradle
android/captures/

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/.generated/

# Firebase / Secrets (IMPORTANT!)
# Uncomment these lines if you want to hide your API keys from the public
# android/app/google-services.json
# ios/Runner/GoogleService-Info.plist

# Mac
.DS_Store